/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-may-2021, 12:05:44
    Author     : imano
*/
html{
	color: black;
	background-color: aliceblue;
}

body, .container, .row{
	color: black;
	background-color: transparent;
}

.navbar{
    background-color: #75FF00;
    align-content: center;
}

.formulario{
    background-color: #33FF00;
}
.form-control{
    background-color: white;
    color: black;
}
.table tr:hover{
    background-color: deepskyblue;
}

.centrado {
    width: 500px;
}
 .centrado{
    margin:10px auto;
    display:block;
    }
.verde{
    background-color: greenyellow!important;
}

.navbar .datosusuario{
    display: flex;
    padding-left: 0;
}

.navbar .datosusuario img{
    max-height: 46px;
    margin-left: 15px;
}

.navbar .logo{
    align-self: center;
    text-align: center;
}

.navbar a img{
    width: 250px;
   }

.navbar .tema{
    padding-right: 0;
    align-self: center;
}

.navbar .tema > div, .navbar .tema > input{
    margin-left: 10px;
}

.formulario{
    padding: 20px 40px;
    border-radius: 10px;
    align-content: center;
}

.form-control{
    font-size: .9em;
}

.registro{
    margin-top: 30px;
    margin-bottom: 30px;
}

#formRegistro #foto:hover{
    cursor: pointer;
}

#map{
    height: 100%;
    width: 100%;
}

.buscadorViajes{
    margin-top: 20px;
    margin-left: 50px;
}

.buscadorViajes .form-control{
    margin: 0 10px;
}

#buscarViajes{
    margin: 0 10px;
}

.table{
    text-align: center;
}

.table td, .table th{
    border-top: none;
}

.table tr{
    cursor: pointer;
}

    
